body {
    background-color: #fbfbfb;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.container {
    height: 100% !important;
}

.container-fluid {
    padding: 0px 50px;
}

.new-service-form {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-evenly;
}

.service-actions {
    float: right;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.services-container {
    width: 60% !important;
}