.image-background {
    background-image: url("../assets/login-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.55;
    filter: blur(2px);
    position: absolute;
}

.background-color {
    background-color: black;
    overflow: hidden;
    position: relative;
}

#column-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 60px;
    line-height: 1.6;
    font-size: 18px;
    color: #efefef;
    z-index: 3;
    position: absolute;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}