.modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.modal-service {
    width: 25%;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;

}

.modal-service i {
    font-size: 20px;
    margin-right: 5px;
}

.modal-service-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

.modal-service-description {
    display: block;

}

.more {
    font-style: italic;
    margin-top: 5px;
}