.new-visit-content {
    min-height: 400px;
    border-radius: 5px;
}

.visit-form {
    display: flex;
    flex-direction: column;
}

.services-added {
    overflow-y: auto;
    max-height: 300px;
}

.container-small {
    width: 40% !important; 
}

.dropdown {
    padding: 10px 15px;
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
}
