.all-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.services-left {
    display: flex;
}

.services-heading {
    margin-right: 50px;
}

.services-content {
    display: flex;
    flex-direction: column;

}

.service-card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    padding: 18px;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 5px;
}

.service-name {
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.details-visits-services {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}