@import "login-form.css";
@import "modal.css";
@import "register-vehicle.css";
@import "employee-index.css";
@import "services.css";
@import "new-visit.css";

input[type="email"], input[type="password"], textarea {
    background-color: #e3e3e3 !important;
}

.container {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.panel {
    max-width: 80%;
    margin: 0 auto;
}

.panel-body {
    display: flex;
    flex-direction: column;
}

.rest-nav {
    width: 80%;
    padding: 0 20px;
}

.reset-nav img {
    height: 80px;
    margin: 30px 0px 100px 0px;
}

.reset-login {
    align-self: start;
    font-size: 18px;
}

.customer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.customer-nav img {
    height: 80px;
}

.logout {
    text-decoration: none;
}

.customer-visits {
    margin-top: 100px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.visits-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e3e3;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.customer-visit {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}

.btn-reg {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 200px;
    align-self: flex-end;
}

.customer-filter {
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
    color: rgb(66, 66, 66);
}

.customer-filters {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.customer-dropdown {
    background-color: rgb(156, 156, 156) !important;
    border-color: rgb(156, 156, 156) !important;
}

.sidebar {
    position: relative;
}

.outline {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 4px;
}

.details-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.personal-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.customer-info {
    display: flex;
    
}

.cust-label {
    font-size: 12px;
}

.cust-info {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 0.8;
    margin-bottom: 10px;

}

.customer-vehicles {
    display: flex;
}

.customer-vehicle {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.line {
    border-bottom: 1px solid black;
    width: 90%;
}

.details-visits {
    display: flex;

}

.details-visit {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.all-visits-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.visits-filter-customer {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;

}

.customer-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}

.dropdown {
    background-color: white;
}

.details-visit-customer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 20px;
}

.visit-section {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.login-form i {
    float: right;
    cursor: pointer;
    padding-right: 15px;
    margin-top: -26px;
}

.visit-section-customer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.form-outline-vehicles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.inputYear {
    display: flex;
    margin-top: 15px;
}

.inputYear input {
    margin-right: 15px;
}

.form-outline-services {
    display: flex;
    align-items: center;
}

.sorting-services {
    display: flex;
}
