<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js" ></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>Title</title>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

  

</head>
<body>
    <div class="customer-container">
        <nav class="customer-nav">
            <a class="site-logo" href="index.html" th:href="@{/index-customer}">
                <img style="height: 70px;" src="../static/assets/site-logo.png" alt="site logo"
                     th:src="@{~/assets/site-logo.png}">
            </a>
            <div class="navbar-nav ms-auto d-flex flex-row">
                <span class="employee-name" sec:authentication="name">Customer name</span>
                <a href="" class="btn btn-primary logout" th:href="@{/logout}">Logout</a>
              </div>
        </nav>

        <div class="card shadow-2-strong card-registration">
            <div class="card-body p-4 p-md-5">
                <div class="all-visits-customer">
                  <div class="visits-filter-customer">
                    <h3 class="visits-heading-customer">All Visits</h3>

                      <form th:action="@{/vehicles/userFilterByBrand}" th:object="${vehicleId}" method="post">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                Choose Vehicle
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li th:each="vehicle :  ${userVehicles}">
                                    <button type="submit" class="dropdown-item" name="vehicleId" th:value="${vehicle.getId()}" th:text="${vehicle.model.brand.brand + ' ' + vehicle.getModel().getModel() + ' - ' + vehicle.getYear()}">Action</button>
                                </li>
                            </ul>
                        </div>
                      </form>

                    <div class="form-outline">
                      <div class="input-group">
                        <div class="outline">
                          <input type="search" id="form1" class="form-control" />
                          <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="submit" class="btn btn-primary">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>

                  </div>
                    <button class="btn btn-success" data-mdb-toggle="modal"
                            th:attr="data-mdb-target=${'#exampleModalAddVehicle'}" data-row="${vehicle}">
                        <i class="fas fa-car-side"></i> +&nbsp;&nbsp;&nbsp;Register new vehicle</button>
                </div>

                <div class="services-content">
                  <table class="customers-table table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Visit Date</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="visit : ${userVisits}">
                            <td th:text="${visit.getDate()}">26/03/2022</td>
                            <td th:text="${visit.getVehicle().getModel().getBrand().getBrand() + ' ' + visit.getVehicle().getModel().getModel()}">Mercedes S Class</td>
                            <td th:text="${visit.getTotal_cost()}">50$</td>
                            <td>
                              <div class="service-actions">
                                <button class="btn btn-primary" data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#exampleVisitDetails'+ visit.getId()}"
                                        data-row="${user}">More Details</button>
                              </div>
                            </td>
                            <td>
                                <a href="#" class="btn btn-success">Print PDF</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
<!--                <br>-->
<!--                <nav aria-label="Page navigation example">-->
<!--                    <ul class="pagination">-->
<!--                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--                      <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                      <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                      <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                      <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--                    </ul>-->
<!--                  </nav>-->
            </div>
          </div>

    </div>
</body>
</html>

<!-- ADD NEW VEHICLE MODAL -->

<div class="modal fade" th:attr="id=${'exampleModalAddVehicle'}" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Add new vehicle</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/userNew}" th:object="${vehicle}" method="post" class="new-service-form">

                    <select class="dropdown" required="required"
                            th:value="${brand.id}" name="brandId" id="brand">
                        <option disabled="disabled" selected="selected" value="" > --
                            Select Brand --
                        </option>
                        <option th:each="brand : ${allBrands}" th:value="${brand.getId()}" th:text="${brand.brand}"></option>
                    </select>
                    <select class="dropdown" required="required"
                            th:value="${model.model}" name="modelName" id="model">
                        <option disabled="disabled" selected="selected" value=""> --
                            Select Model --
                        </option>
                    </select>
                    <input class="form-control" required="required" name="license_plate" id="license_plate" type="text" maxlength="8" placeholder="License Plate"/>
                    <input class="form-control" required="required" name="vin" id="vin" type="text" maxlength="17" placeholder="VIN Number"/>
                    <input type="number" required="required" name="year" id="year" min="1886" max="2022" step="1" placeholder="Production Year" />
                    <button type="submit" class="btn btn-primary">Add vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Find Models-->
<script>
    $('#brand').change(
        function() {
            $.getJSON("http://localhost:8080/vehicles/models", {
                brandId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                let html = '<option disabled="disabled" selected="selected" value=""> -- Select Model -- </option>';
                let len = data.length;
                for (let i = 0; i < len; i++) {
                    html += '<option value="' +data[i].model + '">'
                        + data[i].model + '</option>';
                }
                html += '</option>';
                $('#model').html(html)
            });
        });
</script>

<!-- CUSTOMER DETAILS MODAL -->

<div class="modal fade" th:object="${visit}" th:each="visit : ${userVisits}" th:attr="id=${'exampleVisitDetails'+ visit.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Visit Details</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body details-body">

                    <div class="details-visit-customer">
                        <div class="visit-section-customer">
                            <span class="cust-label">Visit date</span>
                            <span th:text="${visit.getDate()}" class="cust-info">26/03/2022</span>
                        </div>

                        <div class="visit-section-customer">
                            <span class="cust-label">License Plate</span>
                            <span th:text="${visit.getVehicle().getLicense_plate()}" class="cust-info">PB1312AT</span>
                        </div>
                        
                        <div class="visit-section-customer">
                            <span class="cust-label">Car serviced</span>
                            <span th:text="${visit.getVehicle().getModel().getBrand().getBrand() + ' ' + visit.getVehicle().getModel().getModel()}" class="cust-info">Mercedes S Class</span>
                        </div>

                        <div class="visit-section-customer" th:object="${service}" th:each="service : ${visit.getVisitServices()}">
                            <span class="cust-label">Service performed</span>
                            <span class="cust-info" th:text="${service.getService()}">Oil Change</span>

                            <span class="cust-label">Service Price</span>
                            <span class="cust-info" th:text="${service.getPrice()}">50$</span>
                        </div>
                        <hr>

                        <div class="visit-section-customer">
                            <span class="cust-label">total price</span>
                            <span class="cust-info" th:text="${visit.getTotal_cost()}">50$</span>
                        </div>

                        <form action="#" th:action="@{/visits/{id}/convertTotalCost(id=${visit.getId()})}"
                              class="new-service-form">
                            <select th:name="currency">
                                <option selected th:value="null">Currency</option>
                                <option th:each="option : ${currency}"
                                        th:value="${option}"
                                        th:text="${option}">
                                    Currency
                                </option>
                            </select>
                            <input type="submit" value="Convert" class="btn btn-primary"/>
                        </form>

                        <a href="#" class="btn btn-success">Print PDF</a>
                    </div>
            </div>
        </div>
    </div>
</div>


