<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="bootstrap-head">
    <meta charset="UTF-8">
    <title>Good Old Billy Home</title>
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
            rel="stylesheet"
    />
    <!-- JS MDB -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
    ></script>
    <link rel="stylesheet" href="../static/css/style.css" th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="../static/assets/site-logo.png" th:src="@{assets/site-logo.png}"
                                         style="width: 150px; margin-bottom: 20px" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1" th:text="#{home.welcome}">Welcome (design)!</h4>
                                </div>

                                <form th:replace="login.html :: login-form"></form>

                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">See what we offer.</p>
                                    <button class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Checkout all services</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Services we offer</h5>
                                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="modal-service">
                                                        <i class="fas fa-oil-can"></i>
                                                        <span class="modal-service-title">Oil Change</span>
                                                        <span class="modal-service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            At dolore ipsam iure laboriosam placeat quaerat, quibusdam tenetur? Inventore, ipsam, molestias.</span>
                                                    </div>
                                                    <div class="modal-service">
                                                        <i class="fas fa-car-crash"></i>
                                                        <span class="modal-service-title">Bodywork fixes</span>
                                                        <span class="modal-service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            At dolore ipsam iure laboriosam placeat quaerat, quibusdam tenetur? Inventore, ipsam, molestias.</span>
                                                    </div>
                                                    <div class="modal-service">
                                                        <i class="fas fa-drum-steelpan"></i>
                                                        <span class="modal-service-title">Tire change</span>
                                                        <span class="modal-service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            At dolore ipsam iure laboriosam placeat quaerat, quibusdam tenetur? Inventore, ipsam, molestias.</span>
                                                    </div>
                                                    <div class="modal-service">
                                                        <i class="fas fa-bug"></i>
                                                        <span class="modal-service-title">Fixing board computer bugs</span>
                                                        <span class="modal-service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            At dolore ipsam iure laboriosam placeat quaerat, quibusdam tenetur? Inventore, ipsam, molestias.</span>
                                                    </div>
                                                    <div class="modal-service">
                                                        <i class="fas fa-brush"></i>
                                                        <span class="modal-service-title">Paintjobs</span>
                                                        <span class="modal-service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            At dolore ipsam iure laboriosam placeat quaerat, quibusdam tenetur? Inventore, ipsam, molestias.</span>
                                                    </div>
                                                    <div class="modal-service">
                                                        <i class="fas fa-car-battery"></i>
                                                        <span class="modal-service-title">Recycling batteries</span>
                                                        <span class="modal-service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            At dolore ipsam iure laboriosam placeat quaerat, quibusdam tenetur? Inventore, ipsam, molestias.</span>
                                                    </div>
                                                    <span class="more">And Much More...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 background-color">
                            <div class="image-background"></div>
                                <div id="column-text">
                                        <div>
                                            <h4 class="mb-4">We are more than just a repair shop</h4>
                                            <p class="small mb-0">We've been bringing tears of joy and happiness to the clients for over 10 years.
                                                <br>
                                                <br>

                                                The premise of our repair shop is simple. Clients (members of the public) bring their broken vehiche/s,
                                                which we all know of how much value they are these days. And our repair team swiftly locates and resolves the
                                                issue/s a client's car is having.
                                                <br>
                                                <br>

                                                If the team is successful, and the team is most of the time, the clients are usually very happy. Martina and
                                                Vili have brought many of our clients to tears, because of how swift and time efficient the repair was.</p>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>