<form th:fragment="login-form" id="login-form"
      method="post">
    <p>Please login to your account</p>

    <div class="form-outline mb-4 login-form">
        <input type="text" id="username" name="username" class="form-control"/>
        <label class="form-label" for="username">Username</label>
    </div>

    <div class="form-outline mb-4 login-form">
        <input type="password" id="myInput" name="password" class="form-control"/>
        <i class="fas fa-eye" onclick="myFunction()"></i>
                                        <label class="form-label" for="myInput">Password</label>

                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg mb-3" name="submit"
                                                type="submit">Login
                                        </button>
                                        <a class="text-muted" th:href="@{/forgotten-password}">Forgot password?</a>
                                    </div>
                                    <script>
                                        function myFunction() {
                                            const x = document.getElementById("myInput");
                                            if (x.type === "password") {
                                                x.type = "text";
                                            } else {
                                                x.type = "password";
                                            }
                                        }
                                    </script>
                                </form>




