<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <a class="site-logo" href="#" th:href="@{/employee-services}">
                <img style="height: 70px;" src="../static/assets/site-logo.png" alt="site logo"
                     th:src="@{assets/site-logo.png}">
            </a>

            <ul class="navbar-nav ms-auto d-flex flex-row">
                <span th:text="${#authentication.getPrincipal().getUsername()}    ">Employee name &nbsp;</span>
                <a href="#" class="btn btn-primary logout" th:href="@{/logout}">Logout</a>
            </ul>
        </div>
    </nav>
</header>
<main style="margin-top: 58px; display: flex;">

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="services.html" th:href="@{/services}"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-wrench"></i><span>&nbsp; Services</span>
                </a>
                <a href="users.html" th:href="@{/users}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user-alt"></i><span>&nbsp; Customers</span></a>
                <a href="vehicles.html" th:href="@{/vehicles}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-car"></i><span>&nbsp; Vehicles</span></a>
                <a href="visits.html" th:href="@{/visits}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-calendar-alt"></i><span>&nbsp; Visits</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container pt-4 services-container">
        <h3 class="error" th:text="${error}">Error placeholder</h3>
    </div>
</main>
</body>
</html>