<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <title>Services</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <a class="site-logo">
                <img style="height: 70px;" src="../static/assets/site-logo.png" alt="site logo"
                     th:src="@{~/assets/site-logo.png}">
            </a>

            <div class="navbar-nav ms-auto d-flex flex-row">
                <span th:text="${#authentication.getPrincipal().getUsername()}    ">Employee name &nbsp;</span>
                <a href="#" class="btn btn-primary logout" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<main style="margin-top: 58px; display: flex;">

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="services.html" th:href="@{/services}"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-wrench"></i><span>&nbsp; Services</span>
                </a>
                <a href="users.html" th:href="@{/users}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user-alt"></i><span>&nbsp; Customers</span></a>
                <a href="vehicles.html" th:href="@{/vehicles}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-car"></i><span>&nbsp; Vehicles</span></a>
                <a href="visits.html" th:href="@{/visits}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-calendar-alt"></i><span>&nbsp; Visits</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container pt-4 services-container">

        <div class="register-vehicle-container">
            <div class="card shadow-2-strong card-registration">
                <div class="card-body p-4 p-md-5">
                    <div class="all-services">
                        <div class="services-left">
                            <h3 class="services-heading">All Services</h3>
                            <div class="form-outline-services">

                                <form th:action="@{/services/search}">
                                    <div class="input-group">
                                        <input type="search" placeholder="Search"
                                               title="You can search services by name or price."
                                               th:name="search" id="form1" class="form-control "/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>

                                <br/>

                                <form class="sorting-services" action="#" th:action="@{/services/filter}"
                                      th:object="${filterServiceDto}"
                                      method="post">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton2" data-mdb-toggle="dropdown"
                                                aria-expanded="false">
                                            Choose Price Range
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <a class="dropdown-item" th:href="@{/services}">Any Price</a>
                                            <li th:each="option : ${priceRangeOptions}">
                                                <button type="submit" class="dropdown-item"
                                                        th:name="price"
                                                        th:value="${option.getPreview()}"
                                                        th:text="${option.getPreview()}">
                                                    Service Price Range
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton3" data-mdb-toggle="dropdown"
                                                aria-expanded="false">
                                            Choose Sorting Options
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li th:each="option : ${sortOptions}">
                                                <button type="submit" class="dropdown-item"
                                                        th:name="sortOptions"
                                                        th:value="${option.getPreview()}"
                                                        th:text="${option.getPreview()}">
                                                    Service Price Range
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>


                            </div>
                        </div>
                        <button class="btn btn-primary" data-mdb-toggle="modal"
                                th:attr="data-mdb-target=${'#exampleModalCreate'}" data-row="${service}"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Create new service
                        </button>
                    </div>
                    <div class="services-content">
                        <table class="customers-table table table-hover">
                            <thead>
                            <tr>
                                <th>Service Name</th>
                                <th>Service Cost</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="service : ${services}">
                                <td th:text="${service.getService()}">Oil Change</td>
                                <td th:text="${service.getPrice()}">50$</td>
                                <td>
                                    <div class="service-actions">
                                        <button class="btn btn-primary" data-mdb-toggle="modal"
                                                th:attr="data-mdb-target=${'#exampleModalEdit'+service.getId()}"
                                                data-row="${service}">Edit
                                        </button>
                                        <button class="btn btn-danger" data-mdb-toggle="modal"
                                                th:attr="data-mdb-target=${'#exampleModalDelete'+service.getId()}"
                                                data-row="${service}">Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<!-- DELETE SERVICE MODAL -->

<div class="modal fade" th:each="service : ${services}" th:attr="id=${'exampleModalDelete' + service.getId()}"
     tabindex="-1" aria-labelledby="exampleModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalDeleteLabel">Delete service?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/services/{id}/delete(id=${service.getId()})}" th:object="${service}"
                      class="new-service-form">
                    <h4>Are you sure you want to delete this service?</h4>
                    <button type="submit" class="btn btn-danger">Delete Service</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT SERVICE MODAL -->

<div class="modal fade" th:each="service : ${services}" th:attr="id=${'exampleModalEdit' + service.getId()}"
     tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalEditLabel">Edit service</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/services/{id}/update(id=${service.getId()})}" th:object="${service}"
                      method="post" class="new-service-form">
                    <input class="form-control" type="text" th:value="${service.getService()}" id="service"
                           name="service"/>
                    <input class="form-control" type="text" th:value="${service.getPrice()}" id="price" name="price"/>
                    <button type="submit" class="btn btn-primary">Edit service</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CREATE NEW SERVICE MODAL -->

<div class="modal fade" th:attr="id=${'exampleModalCreate'}" tabindex="-1" aria-labelledby="exampleModalCreateLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCreateLabel">Create new service</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/services/new}" th:object="${service}" method="post"
                      class="new-service-form">
                    <input class="form-control" type="text" th:field="*{service}" placeholder="Service Name"/>
                    <input class="form-control" type="text" th:field="*{price}" placeholder="Service Price"/>
                    <button type="submit" class="btn btn-primary">Create new service</button>
                </form>
            </div>
        </div>
    </div>
</div>