<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <script src="https://jsuites.net/v4/jsuites.webcomponents.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <title>Users</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="site-logo" href="#" th:href="@{/services}">
                <img style="height: 70px;" src="../static/assets/site-logo.png" alt="site logo"
                     th:src="@{~/assets/site-logo.png}">
            </a>
            <div class="navbar-nav ms-auto d-flex flex-row">
                <span th:text="${#authentication.getPrincipal().getUsername()}    ">Employee name</span>
                <a href="" class="btn btn-primary logout" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</header>

<main style="margin-top: 58px; display: flex;">

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="services.html" th:href="@{/services}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-wrench"></i><span>&nbsp; Services</span>
                </a>
                <a href="users.html" th:href="@{/users}"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-user-alt"></i><span>&nbsp; Customers</span></a>
                <a href="vehicles.html" th:href="@{/vehicles}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-car"></i><span>&nbsp; Vehicles</span></a>
                <a href="visits.html" th:href="@{/visits}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-calendar-alt"></i><span>&nbsp; Visits</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container pt-4">

        <div class="register-vehicle-container">
            <div class="card shadow-2-strong card-registration">
                <div class="card-body p-4 p-md-5">
                    <div class="all-services">
                        <div class="services-left">
                            <h3 class="services-heading">All Customers</h3>
                            <div class="form-outline">

                                <form th:action="@{/users/search}">
                                    <div class="input-group">
                                        <div class="outline">
                                            <input type="search"
                                                   title="You can search users by username, email, phone number, license plate or VIN number."
                                                   th:name="search" id="form1" class="form-control"/>
                                            <label class="form-label" for="form1">Search</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>

                                <br/>

                                <form action="#" th:action="@{/users/filter}" th:object="${filterUserDto}" method="post"
                                      title="You can filter users by visits in time range."
                                      onchange="this.form.submit()">
                                    <div class="input-group">
                                        <label>
                                            <input type="date" value="null" th:field="*{dateFrom}"/>
                                        </label>
                                        <label>
                                            <input type="date" value="null" th:field="*{dateTo}"/>
                                        </label>
                                    </div>
                                    <br/><br/>
                                    <div class="input-group">
                                        <label>
                                            <select th:field="*{sortOptions}">
                                                <option selected th:value="null"> Sort Options</option>
                                                <option th:each="option : ${sortOptions}"
                                                        th:value="${option.getPreview()}"
                                                        th:text="${option.getPreview()}">
                                                    Service Sort
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="input-group">
                                        <input type="submit" value="Filter" class="btn btn-primary"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <button class="btn btn-primary" data-mdb-toggle="modal"
                                data-mdb-target="#exampleModalCreateCustomer"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;Create
                            new customer
                        </button>
                    </div>
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">User Email</th>
                            <th scope="col">User Phone Number</th>
                            <th scope="col">User Role</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getUsername()}">Username</td>
                            <td th:text="${user.getEmail()}">Email</td>
                            <td th:text="${user.getPhone_number()}">Telephone Number</td>
                            <td th:each="role : ${user.getUserRoles()}" th:text="${role.getRole()}">User Role</td>
                            <td>
                                <button class="btn btn-primary" data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#exampleModalUpdate'+user.getId()}"
                                        data-row="${user}">Update
                                </button>
                                <button class="btn btn-danger" data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#exampleModalDelete'+user.getId()}"
                                        data-row="${user}">Delete
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-success" data-mdb-toggle="modal"
                                        th:attr="data-mdb-target=${'#exampleModalDetails'+user.getId()}"
                                        data-row="${user}">Details
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<!-- CREATE NEW CUSTOMER MODAL -->

<div class="modal fade" id="exampleModalCreateCustomer" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="1exampleModalLabel">Create Customer</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/users/new}" th:object="${userDto}" method="post"
                      class="new-service-form">
                    <input class="form-control" type="text" name="username" field="username"
                           placeholder="Customer Name"/>
                    <input class="form-control" type="text" name="email" field="email" placeholder="Customer Email"/>
                    <input class="form-control" type="password" name="password" field="password"
                           placeholder="Customer password"/>
                    <input class="form-control" type="password" name="passwordConfirm" field="passwordConfirm"
                           placeholder="Confirm password"/>
                    <input class="form-control" type="text" name="phone_number" field="phone_number"
                           placeholder="Phone number"/>
                    <input class="form-control" type="text" name="roleId" field="roleId" placeholder="User role"/>
                    Please enter 1 for USER and 2 for EMPLOYEE
                    <button type="submit" class="btn btn-primary">Create Customer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CUSTOMER UPDATE MODAL -->

<div class="modal fade" th:each="user : ${users}" th:attr="id=${'exampleModalUpdate' + user.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="2exampleModalLabel">Update User Info</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/users/{id}/update(id=${user.getId()})}" th:object="${user}" method="post"
                      class="new-service-form">
                    <input class="form-control" type="text" th:value="${user.getUsername()}" id="username"
                           name="username"/>
                    <input class="form-control" type="text" th:value="${user.getEmail()}" id="email" name="email"/>
                    <input class="form-control" type="password" name="password" field="password"
                           placeholder="Customer password"/>
                    <input class="form-control" type="text" th:value="${user.getPhone_number()}" id="phone_number"
                           name="phone_number"/>
                    <input class="form-control" type="text" th:each="role : ${roles}"
                           th:value="${role.getRole()}" id="role" name="role"/>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CUSTOMER DELETE MODAL -->

<div class="modal fade" th:each="user : ${users}" th:attr="id=${'exampleModalDelete' + user.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="3exampleModalLabel">Delete Customer?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/users/{id}/delete(id=${user.getId()})}" th:object="${user}"
                      class="new-service-form">
                    <h4>Are you sure you want to delete this customer?</h4>
                    <button type="submit" class="btn btn-danger">Delete Customer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" th:each="user : ${users}" th:attr="id=${'exampleModalDetails'+user.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="4exampleModalLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body details-body">
                <div class="customer-info">
                    <div class="personal-info">
                        <span class="cust-label">Customer Name</span>
                        <span class="cust-info" th:text="${user.getUsername()}">Ivan</span>

                        <span class="cust-label">Phone Number</span>
                        <span class="cust-info" th:text="${user.getPhone_number()}">0898912345</span>
                    </div>
                    <div class="customer-vehicles" th:each="vehicle : ${user.getUserVehicles()}">
                        <div class="customer-vehicle">
                            <span class="cust-label">Vehicle Name</span>
                            <span class="cust-info" th:text="${vehicle.getModel().getModel}">Mercedes S Class</span>

                            <span class="cust-label">Vehicle VIN</span>
                            <span class="cust-info" th:text="${vehicle.getVin()}">5648925469</span>

                            <span class="cust-label">License Plate</span>
                            <span class="cust-info" th:text="${vehicle.getLicense_plate()}">PB1926BH</span>
                        </div>
                    </div>
                </div>
                <hr class="line">

                <div class="details-visits" th:each="visit : ${user.getUserVisits()}">
                    <div class="details-visit">
                        <span class="cust-label">Visit date</span>
                        <span class="cust-info" th:text="${visit.getDate()}">26/03/2022</span>

                        <span class="cust-label">Car serviced</span>
                        <span class="cust-info"
                              th:text="${visit.getVehicle().getLicense_plate()}">Mercedes S Class</span>

                        <div th:each="service : ${visit.getVisitServices()}">
                            <span class="cust-label">Service performed</span>
                            <span class="cust-info" th:text="${service.getService()}">Oil Change</span>

                            <span class="cust-label">Service Price</span>
                            <span class="cust-info" th:text="${service.getPrice()}">50$</span>
                        </div>

                        <span class="cust-label">total price</span>
                        <span class="cust-info" th:text="${visit.getTotal_cost()}">50$</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>