<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Vehicles</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <a class="site-logo" href="index.html">
                <img style="height: 70px;" src="../static/assets/site-logo.png" th:src="@{~/assets/site-logo.png}"
                     alt="site logo">
            </a>

            <ul class="navbar-nav ms-auto d-flex flex-row">
                <span th:text="${#authentication.getPrincipal().getUsername()}">Employee name &nbsp;</span>
                <a href="#" class="btn btn-primary logout" th:href="@{/logout}">Logout</a>
            </ul>
        </div>
    </nav>
</header>
<main style="margin-top: 58px; display: flex;">

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="services.html" th:href="@{/services}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-wrench"></i><span>&nbsp; Services</span>
                </a>
                <a href="users.html" th:href="@{/users}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user-alt"></i><span>&nbsp; Customers</span></a>
                <a href="vehicles.html" th:href="@{/vehicles}"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-car"></i><span>&nbsp; Vehicles</span></a>
                <a href="visits.html" th:href="@{/visits}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-calendar-alt"></i><span>&nbsp; Visits</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container pt-4">

        <div class="register-vehicle-container">
            <div class="card shadow-2-strong card-registration">
                <div class="card-body p-4 p-md-5">
                    <div class="all-services">
                        <div class="services-left">
                            <h3 class="services-heading">All Vehicles</h3>
                            <div class="form-outline-vehicles">
                                <form th:action="@{/vehicles/search}">
                                    <div class="input-group">
                                        <input type="search" placeholder="Search"
                                               title="You can search vehicles by VIN, license plate or user's telephone number."
                                               th:name="search" id="form1" class="form-control "/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                                <br/>

                                <form th:action="@{/vehicles/filterByUsername}" th:object="${username}"
                                      method="post">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-mdb-toggle="dropdown"
                                                aria-expanded="false">
                                            Choose Customer
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" th:href="@{/vehicles}">All Customers</a>
                                            <li th:each="user :  ${users}">
                                                <button type="submit" class="dropdown-item"
                                                        th:name="username"
                                                        th:value="${user.getUsername()}"
                                                        th:text="${user.getUsername()}">
                                                    Username
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>

                                <br/>

                                <form th:action="@{/vehicles/filterByBrand}" th:object="${brand}"
                                      method="post">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton2" data-mdb-toggle="dropdown"
                                                aria-expanded="false">
                                            Choose Brand
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <a class="dropdown-item" th:href="@{/vehicles}">All Brands</a>
                                            <li th:each="brandObject :  ${brands}">
                                                <button type="submit" class="dropdown-item"
                                                        th:name="brand"
                                                        th:value="${brandObject.getBrand()}"
                                                        th:text="${brandObject.getBrand()}">
                                                    Brand
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>

                                <br/>

                                <form th:action="@{/vehicles/filterByModel}" th:object="${model}"
                                      method="post">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton3" data-mdb-toggle="dropdown"
                                                aria-expanded="false">
                                            Choose Model
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                            <a class="dropdown-item" th:href="@{/vehicles}">All Models</a>
                                            <li th:each="modelObject :  ${models}">
                                                <button type="submit" class="dropdown-item"
                                                        th:name="model"
                                                        th:value="${modelObject.getModel()}"
                                                        th:text="${modelObject.getModel()}">
                                                    Model
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>

                                <br/>

                                <form class="inputYear" th:action="@{/vehicles/filterByYear}" th:object="${year}"
                                      method="post">
                                    <div class="input-group">
                                        <input type="number" required="required" style="min-width: 150px;"
                                               th:name="year" id="form2" min="1886" max="2022" step="1"
                                               placeholder="Production Year"/>
                                    </div>
                                    <input type="submit" value="filter" class="btn btn-primary"/>
                                    <a class="btn btn-success" th:href="@{/vehicles}">Reset</a>
                                </form>

                                <br/>

                            </div>
                        </div>

                        <button class="btn btn-primary" data-mdb-toggle="modal"
                                th:attr="data-mdb-target=${'#exampleModalAddVehicle'}" data-row="${vehicle}"><i
                                class="fas fa-car-side"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add new vehicle
                        </button>
                    </div>
                    <div class="services-content">
                        <table class="customers-table table table-hover">
                            <thead>
                            <tr>
                                <th>Vehicle</th>
                                <th>Owner Name</th>
                                <th>License Plate</th>
                                <th>VIN</th>
                                <th>Year of make</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="vehicle : ${vehicles}">
                                <td th:text="${vehicle.getModel().getBrand().getBrand() + ' ' + vehicle.getModel().getModel()}">
                                    Mercedes S Class
                                </td>
                                <td th:text="${vehicle.getUser().getUsername()}">Ivan</td>
                                <td th:text="${vehicle.getLicense_plate()}">PB1926BH</td>
                                <td th:text="${vehicle.getVin()}">8564212456</td>
                                <td th:text="${vehicle.getYear()}">2000</td>
                                <td>
                                    <button class="btn btn-primary" data-mdb-toggle="modal"
                                            th:attr="data-mdb-target=${'#exampleModalEdit'+vehicle.getId()}"
                                            data-row="${vehicle}">Edit
                                    </button>
                                    <button class="btn btn-danger" data-mdb-toggle="modal"
                                            th:attr="data-mdb-target=${'#exampleModalDelete'+vehicle.getId()}"
                                            data-row="${vehicle}">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html>

<!-- ADD NEW VEHICLE MODAL -->

<div class="modal fade" th:attr="id=${'exampleModalAddVehicle'}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add new vehicle</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/new}" th:object="${vehicle}" method="post"
                      class="new-service-form">
                    <select th:name="userId" class="dropdown">
                        <option th:each="user : ${users}" th:value="${user.getId()}"
                                th:text="${user.getUsername()}"></option>
                    </select>
                    <select class="dropdown" required="required"
                            th:value="${brand.id}" name="brandId" id="brand">
                        <option disabled="disabled" selected="selected" value=""> --
                            Select Brand --
                        </option>
                        <option th:each="brand : ${allBrands}" th:value="${brand.getId()}"
                                th:text="${brand.brand}"></option>
                    </select>
                    <select class="dropdown" required="required"
                            th:value="${model.model}" name="modelName" id="model">
                        <option disabled="disabled" selected="selected" value=""> --
                            Select Model --
                        </option>
                    </select>
                    <input class="form-control" required="required" name="license_plate" id="license_plate1" type="text"
                           maxlength="8" placeholder="License Plate"/>
                    <input class="form-control" required="required" name="vin" id="vin1" type="text" maxlength="17"
                           placeholder="VIN Number"/>
                    <input type="number" required="required" name="year" id="year1" min="1886" max="2022" step="1"
                           placeholder="Production Year"/>
                    <button type="submit" class="btn btn-primary">Add vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Find Models-->
<script>
    $('#brand').change(
        function () {
            $.getJSON("http://localhost:8080/vehicles/models", {
                brandId: $(this).val(),
                ajax: 'true'
            }, function (data) {
                let html = '<option disabled="disabled" selected="selected" value=""> -- Select Model -- </option>';
                let len = data.length;
                for (let i = 0; i < len; i++) {
                    html += '<option value="' + data[i].model + '">'
                        + data[i].model + '</option>';
                }
                html += '</option>';
                $('#model').html(html)
            });
        });
</script>

<!-- DELETE VEHICLE MODAL -->

<div class="modal fade" th:each="vehicle : ${vehicles}" th:attr="id=${'exampleModalDelete'+vehicle.getId()}"
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Delete vehicle?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/{id}/delete(id=${vehicle.getId()})}" th:object="${vehicle}"
                      class="new-service-form">
                    <h4>Are you sure you want to delete this vehicle?</h4>
                    <button type="submit" class="btn btn-danger">Delete vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT VEHICLE MODAL -->
<div class="modal fade" th:each="vehicle : ${vehicles}" th:attr="id=${'exampleModalEdit'+vehicle.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Edit vehicle</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/{id}/update(id=${vehicle.getId()})}" th:object="${vehicle}"
                      method="post" class="new-service-form">
                    <input class="form-control" type="text" th:value="${vehicle.getLicense_plate()}" id="license_plate"
                           name="license_plate" placeholder="License Plate"/>
                    <input class="form-control" type="text" th:value="${vehicle.getVin()}" id="vin" name="vin"
                           placeholder="VIN Number"/>
                    <input class="form-control" type="text" th:value="${vehicle.getYear()}" id="year" name="year"
                           placeholder="Production Year"/>
                    <input class="form-control" type="text" th:value="${vehicle.getModel().getModel()}" id="modelmodel"
                           name="model" placeholder="Vehicle Model"/>
                    <input th:value="${vehicle.getUser().getId()}" id="user_id" name="user_id" hidden/>
                    <button type="submit" class="btn btn-primary">Edit vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>