<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <script src="https://jsuites.net/v4/jsuites.webcomponents.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <title>Visits</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <a class="site-logo" href="index.html">
                <img style="height: 70px;" src="../static/assets/site-logo.png" th:src="@{~/assets/site-logo.png}"
                     alt="site logo">
            </a>

            <ul class="navbar-nav ms-auto d-flex flex-row">
                <span th:text="${#authentication.getPrincipal().getUsername()}">Employee name &nbsp;</span>
                <a href="#" class="btn btn-primary logout" th:href="@{/logout}">Logout</a>
            </ul>
        </div>
    </nav>
</header>
<main style="margin-top: 58px; display: flex;">

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="services.html" th:href="@{/services}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-wrench"></i><span>&nbsp; Services</span>
                </a>
                <a href="users.html" th:href="@{/users}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user-alt"></i><span>&nbsp; Customers</span></a>
                <a href="vehicles.html" th:href="@{/vehicles}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-car"></i><span>&nbsp; Vehicles</span></a>
                <a href="visits.html" th:href="@{/visits}"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-calendar-alt"></i><span>&nbsp; Visits</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container pt-4">

        <div class="register-vehicle-container">
            <div class="card shadow-2-strong card-registration">
                <div class="card-body p-4 p-md-5">
                    <div class="all-services">
                        <div class="services-left">
                            <h3 class="services-heading">All Visits</h3>
                            <div class="form-outline">
                                <form th:action="@{/visits/filter}">
                                    <div class="input-group">
                                        <div class="outline">
                                            <input type="date" th:name="date" id="form1" class="form-control"/>
                                            <label class="form-label" for="form1"></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <button data-mdb-toggle="modal" data-mdb-target="#exampleModalAddVisit" class="btn btn-primary">
                            <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add new visit
                        </button>
                    </div>

                    <div class="services-content">
                        <table class="customers-table table table-hover">
                            <thead>
                            <tr>
                                <th>Visit Date</th>
                                <th>Vehicle</th>
                                <th>License Plate</th>
                                <th>Total Cost</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="visit : ${visits}">
                                <td th:text="${visit.getDate()}">Visit Date</td>
                                <td th:text="${visit.getVehicle().getModel().getBrand().getBrand() + ' ' + visit.getVehicle().getModel().getModel() + ' - ' + visit.getVehicle().getYear()}">User's Vehicle Model</td>
                                <td th:text="${visit.getVehicle().getLicense_plate()}">User's Vehicle License Plate</td>
                                <td th:text="${visit.getTotal_cost()}">Visit's Total Cost</td>
                                <td>
                                    <div class="service-actions">
                                        <button class="btn btn-primary" data-mdb-toggle="modal"
                                                th:attr="data-mdb-target=${'#exampleModalUpdate'+visit.getId()}"
                                                data-row="${visit}">Update
                                        </button>
                                        <button class="btn btn-danger" data-mdb-toggle="modal"
                                                th:attr="data-mdb-target=${'#exampleModalDelete'+visit.getId()}"
                                                data-row="${visit}">Delete
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-success" data-mdb-toggle="modal"
                                            th:attr="data-mdb-target=${'#exampleModalDetails'+visit.getId()}"
                                            data-row="${visit}">Details
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
<script>
    document.querySelector('jsuites-calendar').addEventListener('onchange', function (e) {
        console.log('New value: ' + e.target.value);
    });
    document.querySelector('jsuites-calendar').addEventListener('onclose', function (e) {
        console.log('Calendar is closed');
    });
</script>
</html>

<!-- ADD NEW VISIT MODAL -->

<div class="modal fade" id="exampleModalAddVisit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="1exampleModalLabel">Add new visit</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/visits/new}" th:object="${visitDto}" method="post"
                      class="new-service-form">
                    <input class="form-control" type="date" field="visit_date" name="visit_date"
                           placeholder="Visit Date"/>
                    <input class="form-control" type="number" field="vehicle_id" name="vehicle_id"
                           placeholder="Vehicle ID"/>
                    <button type="submit" class="btn btn-primary">Add Visit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE VISIT MODAL -->

<div class="modal fade" th:each="visit : ${visits}" th:attr="id=${'exampleModalDelete' + visit.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="2exampleModalLabel">Delete visit?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/visits/{id}/delete(id=${visit.getId()})}" th:object="${visit}"
                      class="new-service-form">
                    <h4>Are you sure you want to delete this visit?</h4>
                    <button type="submit" class="btn btn-danger">Delete visit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE VISIT MODAL -->

<div class="modal fade" th:each="visit : ${visits}" th:attr="id=${'exampleModalUpdate' + visit.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="3exampleModalLabel">Update visit</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/visits/{visit_id}/addService(visit_id=${visit.getId()})}"
                      class="new-service-form">
                    <select class="dropdown">
                        <option th:each="service : ${services}" th:value="${service.getId()}"
                                th:text="${service.getService()}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Add service</button>
                </form>
                <form action="#" th:action="@{/visits/{visit_id}/removeService(visit_id=${visit.getId()})}"
                      class="new-service-form">
                    <select class="dropdown">
                        <option th:each="service : ${services}" th:value="${service.getId()}"
                                th:text="${service.getService()}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Remove service</button>
                </form>
                <form action="#" th:action="@{/visits/{id}/update(id=${visit.getId()})}" th:object="${visitDto}"
                      method="post" class="new-service-form">
                    <input class="form-control" type="date" field="visit_date" name="visit_date"
                           placeholder="Visit Date"/>
                    <input class="form-control" type="number" field="vehicle_id" name="vehicle_id"
                           placeholder="Vehicle ID"/>
                    <button type="submit" class="btn btn-primary">Update visit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--DETAILS VISIT MODAL-->

<div class="modal fade" th:each="visit : ${visits}" th:attr="id=${'exampleModalDetails'+visit.getId()}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="4exampleModalLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body details-body">
                <div class="customer-info">
                    <div class="personal-info">
                        <span class="cust-label">Visit date</span>
                        <span class="cust-info" th:text="${visit.getDate()}">Visit date</span>

                        <span class="cust-label">Visit Total Cost</span>
                        <span class="cust-info" th:text="${visit.getTotal_cost()}">Visit Total Cost</span>

                        <form action="#" th:action="@{/visits/{id}/convertTotalCost(id=${visit.getId()})}"
                              class="new-service-form">
                            <select th:name="currency">
                                <option selected th:value="null">Currency</option>
                                <option th:each="option : ${currency}"
                                        th:value="${option}"
                                        th:text="${option}">
                                    Currency
                                </option>
                            </select>
                            <input type="submit" value="Convert" class="btn btn-primary"/>
                        </form>

                        <span class="cust-label">Visit User</span>
                        <span class="cust-info" th:text="${visit.getUser().getUsername()}">Visit User</span>

                        <span class="cust-label">Visit User Phone Number</span>
                        <span class="cust-info"
                              th:text="${visit.getUser().getPhone_number()}">Visit User Phone Number</span>

                        <span class="cust-label">Visit Vehicle Model</span>
                        <span class="cust-info" th:text="${visit.getVehicle().getModel().getModel()}">Visit Vehicle Model</span>

                        <span class="cust-label">Visit Vehicle License Plate</span>
                        <span class="cust-info" th:text="${visit.getVehicle().getLicense_plate()}">Visit Vehicle License Plate</span>

                        <span class="cust-label">Visit Vehicle VIN</span>
                        <span class="cust-info" th:text="${visit.getVehicle().getVin()}">Visit Vehicle VIN</span>

                        <span class="cust-label">Visit Total Cost</span>
                        <span class="cust-info" th:text="${visit.getTotal_cost()}">Visit Total Cost</span>
                    </div>
                    <div class="details-visits-services" th:each="service : ${visit.getVisitServices()}">
                        <span class="cust-label">Service</span>
                        <span class="cust-info" th:text="${service.getService()}">Service</span>

                        <span class="cust-label">Price</span>
                        <span class="cust-info" th:text="${service.getPrice()}">Price</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>