<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" media="all"></meta>
    <title>Report</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        table {
            border-spacing: 5px;
        }
    </style>

</head>

<body>
Detailed report for a visit
<br/>
<table th:object="${visitDtoOut}" style="width:75%">
    <tr>
        <th>Visit Date</th>
        <th>Visit Currency</th>
        <th>Total Cost</th>
        <th>Visit User Username</th>
        <th>Visit User Phone Number</th>
    </tr>
    <tr>
        <td th:text="${visitDtoOut.getDate()}">Visit Date</td>
        <td th:text="${visitDtoOut.getCurrency()}">Visit Currency</td>
        <td th:text="${visitDtoOut.getTotal_cost()}">Visit's Total Cost</td>
        <td th:text="${visitDtoOut.getUser().getUsername()}">Visit User Username</td>
        <td th:text="${visitDtoOut.getUser().getPhone_number()}">Visit User Phone Number</td>
    </tr>
</table>
<br/>
<table th:object="${visitDtoOut}" style="width:75%">
    <tr>
        <th>Visit Vehicle Model</th>
        <th>Visit Vehicle License Plate</th>
        <th>Visit Vehicle VIN</th>
    </tr>
    <tr>
        <td th:text="${visitDtoOut.getVehicle().getModel().getModel()}">Vehicle Model</td>
        <td th:text="${visitDtoOut.getVehicle().getLicense_plate()}">Visit Vehicle License Plate</td>
        <td th:text="${visitDtoOut.getVehicle().getVin()}">Visit Vin</td>
    </tr>
</table>
<br/>
<table th:object="${visitDtoOut}" style="width:75%"
       th:each="service : ${visitDtoOut.getVisitServices()}">
    <tr>
        <th>Visit Service</th>
        -
        <th>Visit Service Price</th>
    </tr>
    <tr>
        <td th:text="${service.getService()}">Service</td>
        <td th:text="${service.getPrice()}">Price</td>
    </tr>
</table>
<br/>

</body>

</html>